glob_time.json
[{"id":"63d1c89.d3dcd38","type":"comment","z":"53d91aaa.f42544","name":"Tilstander ------------------------------------------------------ Globale ------------------------------------------------","info":"","x":330,"y":40,"wires":[]},{"id":"161b7ba.937d384","type":"function","z":"53d91aaa.f42544","name":"Split Hr./Min","func":"\nvar output = msg.payload.split(\":\");\nvar hour = parseInt(output[0]);\nvar min = parseInt(output[1]);\n\nvar msg1 = {payload:hour};\nvar msg2 = {payload:min};\n\nreturn [msg1,msg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["897026cd.2c2338"],["1f70a77b.a07089"]]},{"id":"1d5e36bd.cd0799","type":"server-state-changed","z":"53d91aaa.f42544","name":"Systemtime now","server":"2c4e313e.d0fc5e","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["161b7ba.937d384"]]},{"id":"897026cd.2c2338","type":"function","z":"53d91aaa.f42544","name":"Global store - Hour","func":"global.set(\"TimeNow_Hour\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":80,"wires":[["be5a1bcc.3b0928"]]},{"id":"1f70a77b.a07089","type":"function","z":"53d91aaa.f42544","name":"Global store - Min","func":"global.set(\"TimeNow_Min\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":120,"wires":[["b03793b7.02c0b"]]},{"id":"be5a1bcc.3b0928","type":"debug","z":"53d91aaa.f42544","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"b03793b7.02c0b","type":"debug","z":"53d91aaa.f42544","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"4ff94019.32fbf","type":"server-state-changed","z":"53d91aaa.f42544","name":"System YearDateTime now","server":"2c4e313e.d0fc5e","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.time_date","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":180,"wires":[["db6f3771.7c0a18"]]},{"id":"db6f3771.7c0a18","type":"function","z":"53d91aaa.f42544","name":"Global store - DateTime","func":"global.set(\"TimeNow_YearDateHour\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":180,"wires":[["8d907150.13876"]]},{"id":"8d907150.13876","type":"debug","z":"53d91aaa.f42544","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"2c4e313e.d0fc5e","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]